.navbar-container {
  display: flex;
  justify-content: space-around;
  height: 2em;
  background: linear-gradient(#575757, #171717);
  z-index: 7; }

/* nav buttons and link styling */
.nav-buttons {
  display: flex;
  justify-content: space-around;
  flex-grow: .2;
  margin-top: 5px;
  z-index: 10; }
  .nav-buttons a {
    font-size: .8rem;
    padding: 10px;
    text-decoration: none; }
    .nav-buttons a:link {
      color: #dcef59; }
    .nav-buttons a:visited {
      color: #dcef59; }
    .nav-buttons a:hover {
      background-color: #575757; }

.current-page {
  background-color: #171717;
  text-shadow: #dcef59 0 0 10px; }

.site-logo {
  height: 2.4em;
  width: 2.4em;
  order: -1;
  z-index: 10; }

.login-button {
  height: 2em;
  width: 2em;
  background-color: #171717;
  z-index: 10; }

.img-fit {
  width: 100%; }

/* Search Bar Styling */
.searchbar-container {
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
  margin-right: 10px; }

.flexy-nav-search {
  border-radius: 5px;
  padding-right: 5px;
  width: 31px;
  height: 15px;
  font-size: 12px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  float: right; }

.flexy-nav-search:focus {
  width: 200px; }

* {
  display: border-box; }

html body {
  font-family: "Oswald", sans-serif;
  height: 100%;
  min-height: 100vh; }

body {
  background-color: #171717;
  color: #dcef59; }

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  height: 2px;
  background-color: #3d3d3d;
  width: 85%; }

.imgcontainer .content {
  position: absolute;
  /* Position the background text */
  bottom: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.65);
  /* Black background with 0.5 opacity */
  width: 90px;
  /* Full width */
  line-height: 1px; }

/* Top audio content styling */
.top-audio-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px; }

.top-audio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Top video content styling */
.top-video-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px; }

.top-video-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Top searches content styling */
.top-searches-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px; }

.top-header {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  .top-header p {
    font-size: 20px; }

.popsearch {
  text-align: center;
  padding: 10px; }
  .popsearch p {
    font-size: 14px; }

.top-search-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.imgcontainer {
  position: relative;
  display: flex;
  justify-content: center; }
  .imgcontainer img {
    margin-left: 10px;
    margin-right: 10px;
    height: 90px;
    width: 90px; }

.imgcontainer .content {
  position: absolute;
  /* Position the background text */
  bottom: 0;
  /* At the bottom. Use top:0 to append it to the top */
  background: rgba(0, 0, 0, 0.65);
  /* Black background with 0.5 opacity */
  width: 90px;
  /* Full width */
  line-height: 1px; }

/* Nostradomus Overlay styling */
#nostradamusoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 4.5%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer; }

.nostradamusoverlayimg {
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center; }

.nostradamusoverlaytxt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  align-content: center;
  justify-content: center; }
  .nostradamusoverlaytxt h2 {
    padding-left: 10px; }

/* Vedas Overlay styling */
#vedasoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 4.5%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer; }
  #vedasoverlay .vedasoverlayimg {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
  #vedasoverlay .vedasoverlaytxt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: center;
    justify-content: center; }
    #vedasoverlay .vedasoverlaytxt h2 {
      text-align: center; }

/* Apocrypha Overlay styling */
#apocryphaoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 4.5%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer; }
  #apocryphaoverlay .apocryphaoverlayimg {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
  #apocryphaoverlay .apocryphaoverlaytxt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: center;
    justify-content: center; }
    #apocryphaoverlay .apocryphaoverlaytxt h2 {
      text-align: center; }

/* I Ching Overlay styling */
#ichingoverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 4.5%;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  cursor: pointer; }
  #ichingoverlay .ichingoverlayimg {
    display: flex;
    margin-top: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
  #ichingoverlay .ichingoverlaytxt {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-content: center;
    justify-content: center; }
    #ichingoverlay .ichingoverlaytxt h2 {
      text-align: center; }

@media (min-width: 390px) {
  .popsearch {
    flex-basis: 30%; }

  .topsearchoverlay {
    top: 5%; } }
@media (min-width: 522px) {
  .popsearch {
    flex-basis: initial; }

  hr {
    width: 522px; } }

/*# sourceMappingURL=main.css.map */
