$primary-background-color: #171717;
$primary-navbar-color: #282828;
$primary-text-color: #dcef59;
$primary-font-family: 'Oswald', sans-serif;


$base: #171717;
$base-darken: darken($base, 10%);
$base-light: lighten($base, 10%);
$base-lighter: lighten($base, 15%);
